@page "/billgrid"

<h3 class="mb-4">Bills</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenDialogAsync" Class="mb-4">
    Add
</MudButton>

<MudDataGrid T="Bills" Items="@Datasource" ReadOnly="@_readOnly" EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
             StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
             Bordered="true" Dense="true" EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)">
    <Columns>
        <PropertyColumn Property="x => x.CompanyId" Title="Company's ID" />
        <PropertyColumn Property="x => x.CustomerNo" Title="Customer's ID" />
        <PropertyColumn Property="x => x.Type" Title="Type" />
        <PropertyColumn Property="x => x.Amount" Title="Amount" />
        <PropertyColumn Property="x => x.Paid" Title="Paid" />
        <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Rounded.Delete" OnClick="@(() => DeleteItem(context.Item))" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

<MudExpansionPanels Style="flex:1; margin-top: 2rem;">
    <MudExpansionPanel Text="Show Events">
        @foreach (var message in _events)
        {
        <MudText Typo="@Typo.body2">@message</MudText>
        }
        @if (_events.Count > 0)
        {
        <div class="d-flex mt-3">
            <MudSpacer />
            <MudButton Variant="Variant.Filled" OnClick="@(() => _events.Clear())">Clear</MudButton>
        </div>
        }
    </MudExpansionPanel>
</MudExpansionPanels>
