@page "/companygrid"

<MudText Typo="Typo.h3" Class="mb-2">Company Management</MudText>

<MudPaper Class="pa-4 mb-4">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudSelect T="string" Label="Filter by" @bind-Value="_filterBy">
                <MudSelectItem Value="@("Name")">Name</MudSelectItem>
                <MudSelectItem Value="@("Adress")">Adress</MudSelectItem>
                <MudSelectItem Value="@("City")">City</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="8" Class="d-flex justify-end align-items-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenDialogAsync" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium">
                Add Company
            </MudButton>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudDataGrid T="Companies" Items="@Datasource" ReadOnly="@_readOnly"
             EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
             StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem"
             CommittedItemChanges="@CommittedItemChanges"
             Bordered="true" Dense="true"
             EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)"
             SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@QuickFilter"
             Hover="true" Striped="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Companies</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.CompanyNo" Title="Company's No"/>
        <PropertyColumn Property="x => x.Name" Title="Name"/>
        <PropertyColumn Property="x => x.Address" Title="Address"/>
        <PropertyColumn Property="x => x.City" Title="City"/>
        <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync"/>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Rounded.Delete" Color="Color.Error" OnClick="@(() => DeleteItem(context.Item))"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Companies" />
    </PagerContent>
</MudDataGrid>

<MudExpansionPanels Style="flex:1; margin-top: 2rem;">
    <MudExpansionPanel Text="Show Events">
        @foreach (var message in _events)
        {
            <MudText Typo="@Typo.body2">@message</MudText>
        }
        @if (_events.Count > 0)
        {
            <div class="d-flex">
                <MudSpacer />
                <MudButton Class="mt-3" ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="@(() => _events.Clear())">Clear</MudButton>
            </div>
        }
    </MudExpansionPanel>
</MudExpansionPanels>